annotated-types==0.7.0
argcomplete==3.5.2
fastapi==0.115.12
joblib==1.4.2
matplotlib
mkl-service==2.4.0
nltk
pipx==1.7.1
pydantic==2.11.3
pydantic_core==2.33.1
PyQt5==5.15.10
pywin32==308
regex==2024.11.6
scikit-learn==1.6.1
scipy
setuptools==75.1.0
starlette==0.46.2
threadpoolctl==3.6.0
tqdm==4.67.1
typing-inspection==0.4.0
userpath==1.9.2
uvicorn==0.34.2
wheel==0.44.0
